* {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  font-size: 2.5rem;
  padding: 60px;
  background-color: #646c51;
}

.icons {
  padding: 20px;
}

h1 {
  color: #dda990;
  text-shadow: 1px 1px #dbece5;
}

body {
  background-color: #a0ab81;
}